<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Link CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>brest Cancer Detection</title>
</head>
<body>
  <!-- <h1 class="heading">
    Hi there
  </h1>
  <p>
    This is a Brest cancer detection website
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolore in accusamus accusantium voluptatibus dicta esse porro! Obcaecati nesciunt consequatur, et ab explicabo repellendus, similique odit beatae a aliquam animi consectetur quisquam error eligendi ut eos! Enim quae provident tenetur aliquid quam illum dolores ducimus vero! Doloribus quod sunt, in enim numquam officia explicabo esse at. Quia fugiat inventore quaerat omnis rerum? Ab dolorum quidem aut aspernatur, illum minima ad nihil autem est maxime. Consectetur, nihil dicta assumenda aperiam vitae libero cum magnam asperiores deleniti possimus! Molestias, vel mollitia.
  </p>
  daiodoannw
  <h1>Sayani</h1> -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/staic/images/logo1.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
    </div>
  </nav>
</body>
</html>